<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhsz.dao.mapper.misc.SqnAreaMapper">
	<resultMap type="com.zhsz.dao.entity.misc.SqnArea" id="SqnAreaResult">
           <result column="id" property="id" />
           <result column="areaCode" property="areaCode" />
           <result column="areaName" property="areaName" />
           <result column="displayNum" property="displayNum" />
           <result column="longitude" property="longitude" />
           <result column="latitude" property="latitude" />
           <result column="tel" property="tel" />
           <result column="img" property="img" />
           <result column="address" property="address" />
           <result column="remark" property="remark" />
           <result column="createtime" property="createtime" />
           <result column="createuserid" property="createuserid" />
           <result column="updatetime" property="updatetime" />
           <result column="updateuserid" property="updateuserid" />
           <result column="bz1" property="bz1" />
           <result column="bz2" property="bz2" />
           <result column="bz3" property="bz3" />
           <result column="bz4" property="bz4" />
           <result column="bz5" property="bz5" />
           <result column="bz6" property="bz6" />
           <result column="property" property="property" />
    </resultMap>
 
	<!-- @author 刘浩 Date: 2016-04-19 11:03:43 表sqn_area的通用查询业务自带分页 --> 
	<select  id="doQueryByCondition" parameterType="java.util.Map" resultMap="SqnAreaResult">
		<![CDATA[ select * from sqn_area where 1 = 1  ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
		<if test="areaCode!=null and areaCode!=''"><![CDATA[ and areaCode = #{areaCode} ]]></if>
		<if test="areaName!=null and areaName!=''"><![CDATA[ and areaName like '%' #{areaName} '%' ]]></if>
		<![CDATA[ order by id desc limit ${minnum},${maxnum}  ]]>
	</select>
	
	<!-- @author 刘浩 Date: 2016-04-19 11:03:43 表sqn_area的通用查询业务无分页 --> 
	<select  id="doQueryByConditionNoPage" parameterType="java.util.Map" resultMap="SqnAreaResult">
		<![CDATA[ select * from sqn_area where 1 = 1  ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
		<if test="ids!=null and ids!=''"><![CDATA[ and id = #{ids} ]]></if>
		<if test="areaCode!=null and areaCode!=''"><![CDATA[ and areaCode = #{areaCode} ]]></if>
		<if test="displayNum!=null and displayNum!=''"><![CDATA[ and displayNum = #{displayNum} ]]></if>
		<![CDATA[ order by id desc ]]>
	</select>
	
	<!-- @author 刘浩 Date: 2016-04-19 11:03:43 表sqn_area的通用查询数量业务 -->
	<select id="doQueryCountByCondition" parameterType="java.util.Map" resultType="long">
		<![CDATA[ select count(id) as count from sqn_area  where 1=1 ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
		<if test="areaCode!=null and areaCode!=''"><![CDATA[ and areaCode = #{areaCode} ]]></if>
		<if test="areaName!=null and areaName!=''"><![CDATA[ and areaName like '%' #{areaName} '%' ]]></if>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
	</select>
     
	<!-- @author 刘浩 Date: 2016-04-19 11:03:43 表sqn_area的通用新增业务 --> 
    <insert id="doInsert"  flushCache="true"  parameterType="com.zhsz.dao.entity.misc.SqnArea" >
		insert into sqn_area(id,areaCode,areaName,displayNum,tel,img,longitude,latitude,address,remark,createtime,createuserid,updatetime,updateuserid,property)
		values(#{id},#{areaCode},#{areaName},#{displayNum},#{tel},#{img},#{longitude},#{latitude},#{address},#{remark},#{createtime},#{createuserid},#{updatetime},#{updateuserid},#{property})
	</insert>
	
	<!-- @author 刘浩 Date: 2016-04-19 11:03:43 表zhyq_area的通用更新业务 -->
	<update id="doUpdate" parameterType="java.util.Map">
		<![CDATA[ update sqn_area set 
		 areaCode = #{areaCode},
		 areaName = #{areaName},
		 displayNum = #{displayNum},
		 tel = #{tel},
		 img = #{img},
		 longitude = #{longitude},
		 latitude = #{latitude},
		 address = #{address},
		 remark = #{remark},
		 updatetime = #{updatetime},
		 updateuserid = #{updateuserid},
		 property = #{property}
		where id = #{id}]]>
	</update>
	
	<delete id="DeleteById"  flushCache="true"  >
		<![CDATA[ delete from sqn_area where 1 =1]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
	</delete>
</mapper>