<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhsz.dao.mapper.misc.ThemeMapper">
	<resultMap type="com.zhsz.dao.entity.misc.Theme" id="ThemeResult">
           <result column="id" property="id" />
           <result column="days" property="days" />
           <result column="keyword" property="keyword" />
           <result column="type" property="type" />
           <result column="createtime" property="createtime" />
           <result column="createuserid" property="createuserid" />
           <result column="updatetime" property="updatetime" />
           <result column="updateuserid" property="updateuserid" />
           <result column="bz1" property="bz1" />
           <result column="bz2" property="bz2" />
           <result column="bz3" property="bz3" />
           <result column="bz4" property="bz4" />
           <result column="bz5" property="bz5" />
           <result column="bz6" property="bz6" />
    </resultMap>
 
	<!-- @author 黄冬杰 Date: 2017-06-22 15:32:06 表theme的通用查询业务自带分页 --> 
	<select  id="doQueryByCondition" parameterType="java.util.Map" resultMap="ThemeResult">
		<![CDATA[ select * from theme where 1 = 1  ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
		<![CDATA[ order by id desc limit ${minnum},${maxnum}  ]]>
	</select>
	
	<!-- @author 黄冬杰 Date: 2017-06-22 15:32:06 表theme的通用查询业务无分页 --> 
	<select  id="doQueryByConditionNoPage" parameterType="java.util.Map" resultMap="ThemeResult">
		<![CDATA[ select * from theme where 1 = 1  ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
		<if test="keyword!=null and keyword!=''"><![CDATA[ and keyword = #{keyword} ]]></if>
		<![CDATA[ order by id desc ]]>
	</select>
	
	<!-- @author 黄冬杰 Date: 2017-06-22 15:32:06 表theme的通用查询数量业务 -->
	<select id="doQueryCountByCondition" parameterType="java.util.Map"
		resultType="long">
		<![CDATA[ select count(id) as count from theme  where 1=1 ]]>
		<if test="id!=null and id!=''"><![CDATA[ and id = #{id} ]]></if>
	</select>
     
	<!-- @author 黄冬杰 Date: 2017-06-22 15:32:06 表theme的通用新增业务 --> 
    <insert id="doInsert"  flushCache="true"  parameterType="com.zhsz.dao.entity.misc.Theme" >
		insert into theme(id,days,keyword,type,createtime,createuserid,updatetime,updateuserid,bz1,bz2,bz3,bz4,bz5,bz6 )
		values(#{id},#{days},#{keyword},#{type},#{createtime},#{createuserid},#{updatetime},#{updateuserid},#{bz1},#{bz2},#{bz3},#{bz4},#{bz5},#{bz6} )
	</insert>
	
	<!-- @author 黄冬杰 Date: 2017-06-22 15:32:06 表theme的通用更新业务 -->
	<update id="doUpdate" parameterType="java.util.Map">
		<![CDATA[ update theme set 
		 id = #{id},
		 days = #{days},
		 keyword = #{keyword},
		 type = #{type},
		 createtime = #{createtime},
		 createuserid = #{createuserid},
		 updatetime = #{updatetime},
		 updateuserid = #{updateuserid},
		 bz1 = #{bz1},
		 bz2 = #{bz2},
		 bz3 = #{bz3},
		 bz4 = #{bz4},
		 bz5 = #{bz5},
		 bz6 = #{bz6}
		where id = #{id}]]>
	</update>
	
</mapper>