<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsz.dao.mapper.manage.role.IMenuMapper">
	<resultMap type="com.zhsz.dao.entity.manage.role.MenuEntity"
		id="menu">
		<result property="code" column="code" />
		<result property="title" column="title" />
		<result property="url" column="url" />
		<result property="parentCode" column="parent_code" />
		<result property="menuLevel" column="menu_level" />
		<result property="childrenCount" column="children_count" />
		<result property="displayNum" column="display_num" />
	</resultMap>

	<select id="menuCount" parameterType="java.util.Map" resultType="java.lang.Long">
		<![CDATA[select count(*) from SYS_MENU t where 1=1]]>
		<if test="parentCode!=null and parentCode!=''"> and parent_code=#{parentCode}</if>
	</select>

	<select id="queryMenus" parameterType="java.util.Map" resultMap="menu">
		<![CDATA[select t.* from(select t.* from SYS_MENU t where 1=1]]>
		<if test="parentCode!=null and parentCode!=''"> and parent_code=#{parentCode}</if>
		<![CDATA[) t ]]>
		<if test="minnum!=null and maxnum!=null"><![CDATA[where limit #{minnum}),#{maxnum} ]]></if>
		<![CDATA[order by display_num asc ]]>
	</select>

	<select id="getMenu" parameterType="String" resultMap="menu">
		<![CDATA[select t.code,t.title,t.url,t.parent_code,t.menu_level,t.children_count,t.display_num
		 FROM SYS_MENU t where t.code=#{code}]]>
	</select>

	<insert id="insertMenu" parameterType="com.zhsz.dao.entity.manage.role.MenuEntity">
		<![CDATA[insert into SYS_MENU(code,title,url,menu_level,parent_code,children_count,display_num)
		values (#{code},#{title},#{url,jdbcType=VARCHAR},#{menuLevel},#{parentCode},#{childrenCount},#{displayNum})]]>
	</insert>

	<update id="updateMenu" parameterType="com.zhsz.dao.entity.manage.role.MenuEntity">
		<![CDATA[update SYS_MENU set
				 title=#{title},
				 url=#{url,jdbcType=VARCHAR},
				 parent_code=#{parentCode},
				 menu_level=#{menuLevel},
				 children_count=#{childrenCount},
				 display_num=#{displayNum}
				 where code=#{code}
		]]>
	</update>

	<update id="updateChildrenCount" parameterType="java.util.Map">
		<foreach collection="codes" item="code">
			<![CDATA[update SYS_MENU set
					 children_count=children_count+#{childrenCount}
					 where code=#{code}
			]]>
		</foreach>
	</update>

	<delete id="deleteMenu" parameterType="String">
		<![CDATA[delete t from SYS_MENU t where t.code=#{code}]]>
	</delete>
</mapper>