<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsz.dao.mapper.manage.role.IMenuRoleMapper">
	<resultMap type="com.zhsz.dao.entity.manage.role.MenuRoleEntity"
		id="menuRole">
		<result property="id" column="id" />
		<result property="menuCode" column="menu_code" />
		<result property="roleCode" column="role_code" />
	</resultMap>

	<resultMap type="com.zhsz.dao.entity.manage.role.MenuEntity"
		id="menu">
		<result property="code" column="code" />
		<result property="title" column="title" />
		<result property="url" column="url" />
		<result property="parentCode" column="parent_code" />
		<result property="menuLevel" column="menu_level" />
		<result property="childrenCount" column="children_count" />
		<result property="displayNum" column="display_num" />
	</resultMap>

	<resultMap type="com.zhsz.dao.manage.model.role.MenuRoleModel"
		id="menuRoleModel">
		<result property="code" column="code" />
		<result property="title" column="title" />
		<result property="url" column="url" />
		<result property="parentCode" column="parent_code" />
		<result property="menuLevel" column="menu_level" />
		<result property="childrenCount" column="children_count" />
		<result property="displayNum" column="display_num" />
		<result property="isCheck" column="isCheck" />
	</resultMap>

	<select id="queryMenuRoles" parameterType="String" resultMap="menu">
		<![CDATA[select t2.code,t2.title,t2.url,t2.parent_code,t2.menu_level,t2.children_count,t2.display_num
			 from SYS_MENU t2  inner join SYS_MENU_ROLE t on t.menu_code=t2.code where t.role_code=#{roleCode} order by t2.display_num asc]]>
	</select>

	<select id="queryUserMenus" parameterType="java.util.Map"
		resultMap="menu">
		<![CDATA[select distinct t2.* from SYS_MENU t2
 				inner join SYS_MENU_ROLE t on t.menu_code = t2.code
 				inner join SYS_OPERATOR_ROLE t3 on t.role_code = t3.role_code
 				where t3.operator_id =#{operatorId} and t2.parent_code=#{parentCode} order by t2.display_num asc]]>
	</select>

	<select id="searchMenuRoles" parameterType="String" resultMap="menuRole">
		<![CDATA[select * from SYS_MENU_ROLE t where t.role_code=#{roleCode}]]>
	</select>

	<select id="queryCheckMenus" parameterType="java.util.Map"
		resultMap="menuRoleModel">
		<![CDATA[(select m.code,m.title,m.url,m.parent_code,m.menu_level,m.children_count,m.display_num ,'false' as ischeck from SYS_MENU m where not exists (select 'X' from SYS_MENU_ROLE r where m.code=r.menu_code and r.role_code=#{roleCode} and m.parent_code=#{parentCode}) and m.parent_code=#{parentCode}) union all (select m.*,'true' as ischeck from SYS_MENU m,SYS_MENU_ROLE r where m.code=r.menu_code and r.role_code=#{roleCode} and m.parent_code=#{parentCode})]]>
	</select>

	<delete id="deleteMenuRoles" parameterType="String">
		<![CDATA[delete from SYS_MENU_ROLE where role_code=#{roleCode};]]>
	</delete>

	<delete id="deleteMenuRolesByMenu" parameterType="String">
		<![CDATA[delete from SYS_MENU_ROLE where menu_code=#{menuCode};]]>
	</delete>

	<insert id="insertMenuRoles" parameterType="com.zhsz.dao.entity.manage.role.MenuRoleEntity">
		<![CDATA[insert into SYS_MENU_ROLE(id,menu_code,role_code) values(#{id},#{menuCode},#{roleCode});]]>
	</insert>
</mapper>