<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsz.dao.mapper.manage.role.IOperatorMapper">
    <resultMap type="com.zhsz.dao.entity.manage.role.OperatorEntity" id="operator">
        <result property="operatorId" column="operator_id" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="mobileNum" column="mobile_num" />
        <result property="teleNum" column="tele_num" />
        <result property="email" column="email" />
        <result property="status" column="status" />
        <result property="type" column="type" />
        <result property="areaCode" column="areaCode" />
        <result property="areaName" column="areaName" />
        <result property="companyCode" column="companyCode" />
        <result property="companyName" column="companyName" />
        <result property="jobName" column="job_name" />
        <result property="remark" column="remark" />
        <result property="lastTime" column="last_time" />
        <result property="lastIp" column="last_ip" />
        <result property="title" column="title" />
    </resultMap>

	<select id="getOperator" parameterType="String" resultMap="operator">
		<![CDATA[select t.operator_id,t.password,t.name,t.mobile_num,t.tele_num,t.email,t.status,t.type,t.areaCode,t.areaName,t.companyCode,t.companyName,t.job_name,t.remark,t.last_time,t.last_ip
		 from SYS_OPERATOR t where t.operator_id=#{operatorId}]]>
	</select>

	<insert id="insertOperator" parameterType="com.zhsz.dao.entity.manage.role.OperatorEntity">
		<![CDATA[insert into SYS_OPERATOR(operator_id,password,name,mobile_num,tele_num,email,job_name,remark,status,type,areacode,areaname,companycode,last_time,last_ip)
		values (#{operatorId},#{password},#{name},#{mobileNum,jdbcType=VARCHAR},#{teleNum,jdbcType=VARCHAR},#{email,jdbcType=CHAR},#{jobName,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{areaCode,jdbcType=VARCHAR},#{areaName,jdbcType=VARCHAR},#{companyCode,jdbcType=VARCHAR},#{lastTime,jdbcType=TIME},#{lastIp,jdbcType=VARCHAR})]]>
	</insert>

	<update id="updateOperator" parameterType="com.zhsz.dao.entity.manage.role.OperatorEntity">
		<![CDATA[update SYS_OPERATOR set
				 password=#{password},
				 name=#{name},
				 mobile_num=#{mobileNum,jdbcType=VARCHAR},
				 tele_num=#{teleNum,jdbcType=VARCHAR},
				 email=#{email,jdbcType=VARCHAR},
				 status=#{status,jdbcType=VARCHAR},
				 job_name=#{jobName,jdbcType=VARCHAR},
				 remark=#{remark,jdbcType=VARCHAR},
				 last_time=#{lastTime,jdbcType=TIMESTAMP},
				 last_ip=#{lastIp,jdbcType=VARCHAR}
				 where operator_id=#{operatorId}
		]]>
	</update>

	<delete id="deleteOperator" parameterType="String">
		<![CDATA[delete from SYS_OPERATOR where operator_id=#{operatorId};]]>
	</delete>

	<select id="operatorCount" parameterType="java.util.Map" resultType="java.lang.Long">
		<![CDATA[select count(*) from SYS_OPERATOR t where 1=1]]>
		<if test="operatorId!=null and operatorId!=''"><![CDATA[and operator_id=#{operatorId} ]]></if>
		<if test="name!=null and name!=''">and name like '%'||#{name}||'%'</if>
		<if test="status!=null and status!=''"><![CDATA[and status=#{status} ]]></if>
	</select>

	<select id="queryOperators" parameterType="java.util.Map" resultMap="operator">
		<![CDATA[select t.* from(select t.*,t3.title from SYS_OPERATOR t
		         LEFT JOIN sys_operator_role t2 ON t.OPERATOR_ID = t2.OPERATOR_ID 
                 LEFT JOIN sys_role t3 ON t2.ROLE_CODE = t3.CODE where 1=1]]>
		<if test="operatorId!=null and operatorId!=''"><![CDATA[and t.operator_id=#{operatorId} ]]></if>
		<if test="name!=null and name!=''">and t.name like '%'||#{name}||'%'</if>
		<if test="status!=null and status!=''"><![CDATA[and t.status=#{status} ]]></if>
		<![CDATA[) t]]>
		<if test="minnum!=null and maxnum!=null"><![CDATA[limit #{minnum},#{maxnum}]]></if>
	</select>
	
	<select id="userLogin" parameterType="java.util.Map" resultMap="operator">
		<![CDATA[select t.operator_id,t.password,t.name,t.mobile_num,t.tele_num,t.email,t.status,t.type,t.areaCode,t.areaName,t.companyCode,t.companyName,t.job_name,t.remark,t.last_time,t.last_ip
		 from SYS_OPERATOR t where 1=1 ]]>
		<if test="yhmc!=null and yhmc!=''"><![CDATA[ and t.operator_id=#{yhmc}]]></if>
		<if test="yhmm!=null and yhmm!=''"><![CDATA[ and t.password=#{yhmm}]]></if>
	</select>
</mapper>