<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsz.dao.mapper.manage.role.IRoleMapper">
    <resultMap type="com.zhsz.dao.entity.manage.role.RoleEntity" id="role">
        <result property="code" column="code" />
        <result property="title" column="title" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="searchRoles" parameterType="java.util.Map"
            resultType="com.zhsz.dao.entity.manage.role.RoleEntity">
        <![CDATA[select t.* from(select t.code,t.title,t.remark from SYS_ROLE t where 1=1]]>
        <if test="title!=null and title!=''">and title like '%'||#{title}||'%'</if>
        <![CDATA[) t ]]>
        <if test="minnum!=null and maxnum!=null"><![CDATA[limit #{minnum},#{maxnum}]]></if>
    </select>

    <select id="roleCount" parameterType="java.util.Map" resultType="java.lang.Long">
        <![CDATA[select count(*) from SYS_ROLE t where 1=1]]>
        <if test="title!=null and title!=''">and title like '%'||#{title}||'%'</if>
    </select>

    <select id="getRole" parameterType="String"
            resultType="com.zhsz.dao.entity.manage.role.RoleEntity">
		<![CDATA[
        select t.code,t.title,t.remark
		 FROM SYS_ROLE t where t.code=#{code}
        ]]>
	</select>

    <update id="updateRole" parameterType="com.zhsz.dao.entity.manage.role.RoleEntity">
		<![CDATA[
        update SYS_ROLE set
				 title=#{title},
				 remark=#{remark,jdbcType=VARCHAR}
				 where code=#{code}
        ]]>
	</update>

    <insert id="insertRole" parameterType="com.zhsz.dao.entity.manage.role.RoleEntity">
		<![CDATA[
        insert into SYS_ROLE(code,title,remark)
		values (#{code},#{title},#{remark,jdbcType=VARCHAR})
        ]]>
	</insert>

    <delete id="deleteRole" parameterType="String">
        <![CDATA[delete from SYS_ROLE where code=#{code};]]>
    </delete>
</mapper>